/* Hero.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@200,300,400,500,700,800,900&display=swap');


.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 150px 20px;
    min-height: 60vh;
    /* Takes up significant screen space */
    font-family: 'Roboto', sans-serif;
    background-color: black;
    /* height: 100vh; */
    position: relative;
    overflow: hidden;
}

.hero-grid-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.grid-overlay {
    width: 100%;
    height: 100%;   
    /* Create a grid using linear gradients */
    background-size: 60px 60px;
    background-image:
        linear-gradient(to right, rgba(228, 211, 211, 0.05) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(228, 211, 211, 0.05) 1px, transparent 1px);
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    /* Fade out at bottom */
    -webkit-mask-image: linear-gradient(to bottom, rgb(233, 223, 223) 60%, transparent 100%);
}

.highlight-square {
    position: absolute;
    width: 59px;
    /* Slightly less than grid size to fit inside lines */
    height: 59px;
    background: rgba(216, 204, 204, 0.03);
    border: 1px solid rgba(187, 31, 31, 0.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

.square-1 {
    top: 120px;
    /* Aligned with grid (2 * 60) */
    left: 120px;
    animation: pulse 4s infinite alternate;
}

.square-2 {
    top: 240px;
    right: 180px;
    animation: pulse 5s infinite alternate-reverse;
}

.square-3 {
    bottom: 180px;
    left: 300px;
    animation: pulse 6s infinite alternate;
}

.square-4 {
    top: 60px;
    right: 360px;
    opacity: 0.5;
}

@keyframes pulse {
    0% {
        background: rgba(255, 255, 255, 0.01);
        border-color: rgba(255, 255, 255, 0.05);
    }

    100% {
        background: rgba(255, 255, 255, 0.06);
        border-color: rgba(255, 255, 255, 0.2);
    }
}


.hero-content {
    max-width: 800px;
    position: relative;
    z-index: 1;
}

.hero-headline {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1.2;
    color: rgb(159, 156, 156);
    font-family: 'Cabinet Grotesk', sans-serif;
}

.hero-highlight {
    font-size: 90px;
    color: var(--primary);
    display: block;
    margin-top: 10px;
    /* text-transform: uppercase; */
    font-weight: 900;
    /* font-style: italic; */
}

.hero-subheadline {
    font-size: 20px;
    margin-bottom: 40px;
    line-height: 1.2;
}

.btn-hero-primary {
    border: none;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
    transition: opacity 0.3s;
}

.btn-hero-primary:hover {
    opacity: 0.9;
}