@import url('https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@200,300,400,500,700,800,900&display=swap');

.main-header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);

  position: fixed;
  top: 0;
  z-index: 100;
  font-family: 'Cabinet Grotesk', sans-serif;
  box-sizing: border-box;
}

/* 
.logo {
  font-size: 22px;
  font-weight: 600;
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
} */

.dot {
  width: 12px;
  height: 12px;
  background: #ff6d00;
  border-radius: 50%;
}

.nav-links {
  display: flex;
  gap: 35px;
}

.nav-links a {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 18px;
  transition: 0.2s ease;
  font-weight: 300;
}

.nav-links a:hover {
  color: #ffffff;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.4);
}

.join-btn {
  padding: 10px 22px;
  border-radius: 25px;
  border: none;
  background: white;
  color: black;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}

.join-btn:hover {
  background: #f1f1f1;
}

.logo-image-header {
  width: 80px;
}